<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .feed {
      min-height: 80vh;
    }
  </style>
  <title>CRUD Operations</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <section id="title-bar">
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid px-5 py-1">
        <a class="navbar-brand " href="#">CRUD Operation</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mx-3 me-auto">
            <li class="nav-item">
              <a href="#" class="nav-link active">Home</a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">University</a>
            </li>
          
          </ul>
        </div>
      </div>
    </div>
  </section>

<div class="container mt-2 feed">
  <a href="/add" class="btn btn-sm btn-primary">Add User</a><br/><br/>
  <table class="table table-secondary table-striped">
    <thead>
      <tr>
        <th>Course id</th>
        <th>Course name</th>
        <th>department name</th>
        <th>institute name</th>
        <th>university name</th>
      </tr>
    </thead>
    <tbody>
        <% users.forEach(function(university){ %>
            <tr>
                <td><%= university.cid %></td>
                <td><%= university.cname %></td>
                <td><%= university.dname %></td>
                <td><%= university.iname %></td>
                <td><%= university.uname %></td>
                <td>
                    <a href="edit/<%= university.id %>" class="btn btn-sm btn-primary">Edit</a>
                    <a href="delete/<%= university.id %>" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% }); %>
    </tbody>
  </table>
</div>

<!-- footer Section -->
<footer class="bg-dark navbar-static-bottom ">
  <div class="contanier-fluid text-center p-4 pb-1">
    <p class="text-white">© Copyright 2021</p>
  </div>
</footer>

</body>
</html>